/*------------------------------------------------------------
main.html
------------------------------------------------------------*/
.wrap.main_type .container {
    padding-top: 0;
}
.main_page {
    overflow   : hidden;
    position   : relative;
    padding-top: 44px;
    height     : 100vh;
    background : #3087e9;
    box-sizing : border-box;
}
.main_page .logo {
    font-size: 60px;
    color    : #ffffff;
    position : absolute;
    bottom   : 36px;
    left     : 36px;
}
.main_page .logo a {
    display: block;
}
.main_page .logo .br {
    display: block;
    margin : 10px;
}
.main_page .logo .text {
    overflow: hidden;
    position: relative;
    display : block;
}
.main_page .logo .text .do {
    position : absolute;
    top      : 0;
    left     : 0;
    opacity  : 0;
    transform: translateY(-100%);
}
.main_page .logo .text .read {
    display : inline-block;
    position: relative;
    opacity : 1;
}
/*------------------------------------------------------------
lists.html
------------------------------------------------------------*/
.book_breif {
    display   : block;
    position  : relative;
    width     : 100%;
    padding   : 20px 20px 20px 120px;
    box-sizing: border-box;
}
.book_breif .imgbox {
    overflow: hidden;
    position: absolute;
    top     : 20px;
    left    : 20px;
    width   : 80px;
    height  : 120px;
    border  : 1px solid #d0d0d0;
}
.book_breif .book_info {
    position      : relative;
    min-height    : 120px;
    padding-bottom: 30px;
    box-sizing    : border-box;
}
.book_breif .book_info .book_title {
    font-size: 18px;
    color    : #323232;
}
.book_breif .book_info .book_subtitle {
    padding-top: 5px;
    font-size  : 14px;
    color      : #707070;
}
.book_breif .book_info .book_stars {
    position: absolute;
    bottom  : 0;
    left    : 0;
}
/* .star { display: inline-block; width: 25px; height: 25px; background: url('../images/component/icon_star.png') center center no-repeat; } */
/*------------------------------------------------------------
detail.html
------------------------------------------------------------*/
.detail_view {
    opacity   : 0;
    position  : relative;
    width     : 100%;
    background: #ffffff;
    visibility: hidden;
    z-index   : -1;
}
/* .detail_view.view_type */
.detail_view.view_type {
    opacity   : 1;
    visibility: visible;
    z-index   : 10;
}
.basic_column {
    position   : relative;
    padding-top: 200px;
}
.detail_view.view_type .detail_img .imgbox {
    position  : absolute;
    top       : 0;
    left      : 0;
    overflow  : hidden;
    height    : 200px;
    width     : 100%;
    background: #f0f0f0;
    border    : none;
    box-sizing: border-box;
}
.detail_view.view_type .detail_img .imgbox img {
    position: absolute;
    top     : 50%;
    left    : 0;
    right   : 0;
}
.detail_view.view_type .detail_img .imgbox img {
    transform: translateY(-50%);
}
.detail_view.view_type .detail_column {
    transform: translateY(0);
}
.detail_view.view_type .detail_column {
    transition: all 1000ms;
}
.detail_view.view_type .detail_column.basic_info_column {
    background: #f0f0f0;
}
.detail_view.view_type .detail_column.my_comment_column {
    background: #f0f0f0;
}
.detail_view .detail_column.basic_info_column {
    transition-delay: 200ms;
}
.detail_view .detail_column.description_column {
    transition-delay: 400ms;
}
.detail_view .detail_column.my_comment_column {
    transition-delay: 600ms;
}
.detail_view.view_type .detail_title {
    font-size: 18px;
    color    : #323232;
}
.detail_view.view_type .detail_subtitle {
    padding-top: 5px;
    font-size  : 14px;
    color      : #707070;
}
.detail_view.view_type .detail_stars {
    padding-top: 10px;
}
.detail_view.view_type .detail_column.basic_info_column dl {
    padding-top: 5px;
}
.detail_view.view_type .detail_column.basic_info_column dl:first-child {
    padding-top: 0;
}
.detail_view.view_type .detail_column.basic_info_column dl:after {
    content: "";
    display: block;
    clear  : both;
}
.detail_view.view_type .detail_column.basic_info_column dl dt {
    float    : left;
    font-size: 14px;
    color    : #707070;
}
.detail_view.view_type .detail_column.basic_info_column dl dt:after {
    content      : ":";
    padding-left : 10px;
    padding-right: 10px;
}
.detail_view.view_type .detail_column.basic_info_column dl dd {
    float    : left;
    font-size: 14px;
    color    : #707070;
}
.detail_view.view_type .detail_column.description_column {
    overflow      : hidden;
    position      : relative;
    height        : 100px;
    padding-bottom: 40px;
    box-sizing    : border-box;
}
.detail_view.view_type .detail_column.description_column .btn_detail_more {
    position: absolute;
    bottom  : 0;
    left    : 0;
    width   : 100%;
}
.detail_view.view_type .detail_description {
    font-size: 14px;
    color    : #707070;
}
.detail_view.view_type .detail_comment {
    font-size: 14px;
    color    : #707070;
}
/* .detail_view.list_type */
.detail_view.list_type {
    left      : 0;
    opacity   : 1;
    visibility: visible;
    z-index   : 10;
}
.detail_view.list_type .detail_column {
    opacity: 0;
}
.detail_view.list_type .detail_column.basic_info_column {
    transform: translateY(100px);
}
.detail_view.list_type .detail_column.description_column {
    transform: translateY(200px);
}
.detail_view.list_type .detail_column.my_comment_column {
    transform: translateY(400px);
}
.detail_view.list_type .detail_column.basic_column {
    opacity: 1;
}
.detail_view.list_type .detail_column {
    display   : block;
    position  : relative;
    width     : 100%;
    padding   : 20px 20px 20px 120px;
    box-sizing: border-box;
}
.detail_view.list_type .detail_column .imgbox {
    overflow  : hidden;
    position  : absolute;
    top       : 20px;
    left      : 20px;
    width     : 80px;
    height    : 120px;
    border    : 1px solid #d0d0d0;
    box-sizing: border-box;
    background: #f0f0f0;
}
.detail_view.list_type .detail_column .detail_info {
    position      : relative;
    min-height    : 120px;
    padding-bottom: 30px;
    padding-left  : 0;
    box-sizing    : border-box;
}
.detail_view.list_type .detail_column .detail_title {
    font-size: 18px;
    color    : #323232;
}
.detail_view.list_type .detail_column .detail_subtitle {
    padding-top: 5px;
    font-size  : 14px;
    color      : #707070;
}
.detail_view.list_type .detail_column .detail_stars {
    position: absolute;
    bottom  : 0;
    left    : 0;
}
.detail_view {
    transition: width 1000ms;
}
.detail_view * {
    transition: all 1000ms;
}