/*------------------------------------------------------------
main.html
------------------------------------------------------------*/
.wrap.main_type .container {
    padding-top: 0;
}
.main_page {
    position   : relative;
    overflow   : hidden;
    box-sizing : border-box;
    padding-top: 44px;
    height     : 100vh;
    background : #3087e9;
}
.main_page .logo {
    position : absolute;
    bottom   : 36px;
    left     : 36px;
    color    : #fff;
    font-size: 60px;
}
.main_page .logo a {
    display: block;
}
.main_page .logo .br {
    display: block;
    margin : 10px;
}
.main_page .logo .text {
    position: relative;
    display : block;
    overflow: hidden;
}
.main_page .logo .text .do {
    position : absolute;
    top      : 0;
    left     : 0;
    opacity  : 0;
    transform: translateY(-100%);
}
.main_page .logo .text .read {
    position: relative;
    display : inline-block;
    opacity : 1;
}
/*------------------------------------------------------------
lists.html
------------------------------------------------------------*/
.book_breif {
    position  : relative;
    display   : block;
    box-sizing: border-box;
    padding   : 20px 20px 20px 120px;
    width     : 100%;
    cursor    : pointer;
}
.book_breif .imgbox {
    position: absolute;
    top     : 20px;
    left    : 20px;
    overflow: hidden;
    width   : 80px;
    height  : 120px;
    border  : 1px solid #d0d0d0;
}
.book_breif .book_info {
    position      : relative;
    box-sizing    : border-box;
    padding-bottom: 30px;
    min-height    : 120px;
}
.book_breif .book_info .book_title {
    color    : #323232;
    font-size: 18px;
}
.book_breif .book_info .book_subtitle {
    padding-top: 5px;
    color      : #707070;
    font-size  : 14px;
}
.book_breif .book_info .book_stars {
    position: absolute;
    bottom  : 0;
    left    : 0;
}s
.detail_view {
    position  : relative;
    width     : 100%;
    background: #fff;
}
.basic_column {
    position   : relative;
    padding-top: 200px;
}
.detail_view .detail_img .detail_img {
    height: 200px;
}
.detail_view .detail_img .imgbox {
    position  : absolute;
    top       : 0;
    left      : 0;
    overflow  : hidden;
    box-sizing: border-box;
    width     : 100%;
    height    : 200px;
    border    : none;
    background: #f0f0f0;
}
.detail_view .detail_img .imgbox img {
    position: absolute;
    top     : 50%;
    right   : 0;
    left    : 0;
}
.detail_view .detail_img .imgbox img {
    transform: translateY(-50%);
}
.detail_view .detail_column {
    transform: translateY(0);
}
.detail_view .detail_column.basic_info_column {
    padding-top: 0;
    background : #f0f0f0;
}
.detail_view .detail_column.my_comment_column {
    background: #f0f0f0;
}
.detail_view .detail_title {
    color    : #323232;
    font-size: 18px;
}
.detail_view .detail_subtitle {
    padding-top: 5px;
    color      : #707070;
    font-size  : 14px;
}
.detail_view .detail_stars {
    padding-top: 10px;
}
.detail_view .detail_column.basic_info_column dl {
    padding-top: 5px;
}
.detail_view .detail_column.basic_info_column dl:first-child {
    padding-top: 0;
}
.detail_view .detail_column.basic_info_column dl:after {
    display: block;
    clear  : both;
    content: "";
}
.detail_view .detail_column.basic_info_column dl dt {
    float    : left;
    color    : #707070;
    font-size: 14px;
}
.detail_view .detail_column.basic_info_column dl dt:after {
    padding-right: 10px;
    padding-left : 10px;
    content      : ":";
}
.detail_view .detail_column.basic_info_column dl dd {
    float    : left;
    color    : #707070;
    font-size: 14px;
}
.detail_view .detail_column.description_column {
    position      : relative;
    overflow      : hidden;
    box-sizing    : border-box;
    padding-bottom: 40px;
    height        : 100px;
}
.detail_view .detail_column.description_column .btn_detail_more {
    position: absolute;
    bottom  : 0;
    left    : 0;
    width   : 100%;
}
.detail_view .detail_description {
    color    : #707070;
    font-size: 14px;
}
.detail_view .detail_comment {
    color    : #707070;
    font-size: 14px;
}
/*------------------------------------------------------------
form.html
------------------------------------------------------------*/
.search {
    padding-top: 20px;
    border-bottom: 5px solid #d0d0d0;
    margin-bottom: 20px;
}
.selectedBook {
    position: fixed;
    bottom: 0;
    left: 0; width: 100%;
    background: #f0f0f0;
    overflow-y: scroll;
    height: 0;
    transition: all 300ms;
}
